<section id="admins">
  <div class="container team__container">
    <div class="section__header-container">
      <p class="section__header-name" data-i18n="admins.section_name">Admins</p>
      <h2 class="section__header-title" data-i18n="admins.section_title">Top community experts</h2>
      <p class="section__header-description" data-i18n="admins.section_description">
        Be where the systemic results.
      </p>
    </div>

    <div class="team__slider-container">
      <div class="team__slide-border">
        <div class="team__slide-profile">
          <img
            id="profile-image"
            srcset="/img/team/team-1.webp 1x, /img/team/team-1@2x.webp 2x"
            src="/img/team/team-1.webp"
            alt="William Wilson"
            class="team__slide-profile-img"
            loading="lazy"
          />
          <div class="team__slide-profile-info">
            <h3 id="profile-title" class="team__slide-profile-info-title" >
              Expert in task decomposition
            </h3>
            <p id="profile-name" class="team__slide-profile-info-name" >
              Roman Kirilenko
            </p>
            <p id="profile-subtitle" class="team__slide-profile-info-subtitle" >
              Fullstack developer in Java
            </p>
          </div>
        </div>
      </div>

      <div class="team__slide-border-info">
        <div class="team__slide-info">
          <div class="team__slide-info-wrapper">
            <h4 id="info-title" class="team__slide-info-title" >
              Community manager in task decomposition
            </h4>
            <p id="info-subtitle" class="team__slide-info-subtitle" >
              Moderator of automated processes in CRM
            </p>
            <div class="team__slide-info-rating">
              <svg width="11" height="10"><use href="/img/sprite.svg#star-5" /></svg>
              <svg width="11" height="10"><use href="/img/sprite.svg#star-5" /></svg>
              <svg width="11" height="10"><use href="/img/sprite.svg#star-5" /></svg>
              <svg width="11" height="10"><use href="/img/sprite.svg#star-5" /></svg>
              <svg width="11" height="10"><use href="/img/sprite.svg#star-5" /></svg>
            </div>
          </div>
          <p id="info-description" class="team__slide-info-description" data-i18n="admins.info_description">
            The community brings together professionals who jointly develop commercial projects,
            achieving new levels of profit. For this purpose,
            advanced management tools are used: process automation, analytics and task decomposition.
          </p>
          <img
            src="/img/quotes.svg"
            width="99"
            height="99"
            alt="quotes"
            class="team__quote-icon"
            loading="lazy"
          />
        </div>
      </div>
      <!-- Navigation Buttons -->
      <button
        class="team__slide-nav-button team__slide-prev-button"
        aria-label="Previous"
      >
        <svg width="25" height="25">
          <use href="/img/sprite.svg#arrow-left" />
        </svg>
      </button>

      <div class="team__slide-navigation">
        <div class="team__slide-nav-dot active" data-index="0"></div>
        <div class="team__slide-nav-dot" data-index="1"></div>
        <div class="team__slide-nav-dot" data-index="2"></div>
      </div>

      <button
        class="team__slide-nav-button team__slide-next-button"
        aria-label="Next"
      >
        <svg width="25" height="25">
          <use href="/img/sprite.svg#arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
