<footer class="footer">
  <div class="container footer__container">
    <div class="footer__bg">
      <div class="footer__wrapper-logo">
        <a class="" href="/"
      ><img src="./img/logo.svg" alt="logo" width="40" height="40"
    />NEUROFLEX</a>

        <p data-i18n="footerText">
          Breaking the rules leads to irrevocable exclusion - we build space for growth and productivity, not chaos.
        </p>
        <form action="#" class="footer__wrapper-input">
          <input type="email" placeholder="Email Address" />
          <button type="submit" aria-label="Send">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#arrow" />
            </svg>
          </button>
        </form>
        <p class="footer__copyright footer__copyright--desktop">
          © 2021 GPD Holdings, LLC FinCEN MSB
        </p>
      </div>
      <div class="footer__wrapper-nav">
        <nav class="footer__nav">
          <a
            href="https://t.me"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__nav-telegram"
            >Telegram</a
          >
          <ul class="footer__nav-list">
            <li><a href="#services">LinkedIn</a></li>
            <li><a href="#token">Facebook</a></li>
            <li><a href="#faq">Instagram</a></li>
          </ul>
        </nav>
        <div class="footer__wrapper-copyright">
          <a href="/privacy">Privacy Policy and Terms of Service</a>
          <p class="footer__copyright footer__copyright--mobile">
            © 2021 GPD Holdings, LLC FinCEN MSB
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
