<header>
  <div class="container header__container">
    <a class="header_logo" href="/"
      ><img src="./img/logo.svg" alt="logo" width="40" height="40"
    />NEUROFLEX</a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#followers" data-i18n="Followers">Followers</a>
        </li>
        <li class="header__nav-item">
          <a href="#booster" data-i18n="Boosters">Boosters</a>
        </li>
        <li class="header__nav-item">
          <a href="#catalysts" data-i18n="Catalysts">Catalysts</a>
        </li>
        <li class="header__nav-item">
          <a href="#admins" data-i18n="Admins">Admins</a>
        </li>
        <li class="header__nav-item">
          <a href="#course" data-i18n="Course">Course</a>
        </li>
        <li class="header__nav-item">
          <a href="#blog" data-i18n="Cases">Cases</a>
        </li>
        <li class="header__nav-item">
          <a href="#blog" data-i18n="Rates">Rates</a>
        </li>
        <li class="header__nav-item">
          <a href="#community" data-i18n="Community">Community</a>
        </li>
      </ul>
    </nav>
    <select id="language-select">
      <option value="en">EN</option>
      <option value="ua">UA</option>
      <option value="ru">RU</option>
  </select>
   <!-- <button class="header__lang-button">
    EN
    <svg width="17" height="17">
        <use href="/img/sprite.svg#arrow-left" />
    </svg>
   </button> -->
 <button
      type="button"
      aria-label="Menu"
      class="header__burger"
      data-mobile-open
    >
      <svg width="32" height="33">
        <use href="/img/sprite.svg#burger" />
      </svg>
    </button>
    <button type="button" class="header__btn" data-i18n="Write">Write</button>
  </div>
</header>
