<section>
<!-- Bacground Images Section -->
  <div class="hero-bg">
    <!-- Picture 1 -->
    <picture>
      <source
        srcset="
          /img/hero/bitcoin-1-mobile.webp    1x,
          /img/hero/bitcoin-1-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          /img/hero/bitcoin-1-desktop.webp    1x,
          /img/hero/bitcoin-1-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/hero/bitcoin-1-mobile.webp"
        alt="bitcoin"
        class="hero__img-1"
      />
    </picture>
    <!-- Picture 2 -->
    <picture>
      <source
        srcset="
          /img/hero/bitcoin-2-mobile.webp    1x,
          /img/hero/bitcoin-2-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          /img/hero/bitcoin-2-desktop.webp    1x,
          /img/hero/bitcoin-2-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/hero/bitcoin-2-mobile.webp"
        alt="bitcoin"
        class="hero__img-2"
      />
    </picture>
    <!-- Picture 3 -->
    <picture>
      <source
        srcset="
          /img/hero/etherium-mobile.webp    1x,
          /img/hero/etherium-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          /img/hero/etherium-desktop.webp    1x,
          /img/hero/etherium-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/hero/etherium-mobile.webp"
        alt="etherium"
        class="hero__img-3"
      />
    </picture>
  </div>
<!-- Hero Content   -->
  <div class="container hero__container">
    <div class="hero__card-cnt">
      <!-- Hero Card 1 -->
      <div class="hero_card hero_card-1">
        <p class="hero__card-text">
          <span>350+</span><br /><span data-i18n="heroCard1">Project collaborations</span>
        </p>
        <picture>
          <source
            srcset="/img/hero/avatars-1.webp 1x, /img/hero/avatars-1@2x.webp 2x"
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              /img/hero/avatars-1-desktop.webp    1x,
              /img/hero/avatars-1-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/hero/avatars-1.webp"
            alt="avatars"
            class="hero__card-img"
          />
        </picture>
      </div>
      <!-- Hero Card 2 -->
      <div class="hero_card hero_card-2">
        <p class="hero__card-text">
          <span>1,500+</span><br/><span data-i18n="heroCard2">Advertising integrations</span>
        </p>
        <img
          srcset="/img/hero/avatars-2.webp 1x, /img/hero/avatars-2@2x.webp 2x"
          src="/img/hero/avatars-2.webp"
          alt="avatars"
          class="hero__card-img"
        />
      </div>
      <!-- Hero Card 3 -->
      <div class="hero_card hero_card-1">
           <p class="hero__card-text">
          <span>800+</span><br /><span data-i18n="heroCard3">Expert connect</span>
        </p>
        <picture>
          <source
            srcset="/img/hero/avatars-3.webp 1x, /img/hero/avatars-3@2x.webp 2x"
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              /img/hero/avatars-3-desktop.webp    1x,
              /img/hero/avatars-3-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/hero/avatars-3.webp"
            alt="avatars"
            class="hero__card-img"
          />
        </picture>
      </div>
    </div>
    <div class="hero__title-container">
      <h1 class="hero__title" data-i18n="heroTitle1">
        Commercial digital
        community
      </h1>
      <span class="hero__title-text" data-i18n="heroTitle2"> Smart-development.</span>
      <p class="hero__title-description">
        <span data-i18n="heroDescription1">A community based on an Al-system that replaces primitive</span> <br /> 
<span data-i18n="heroDescription2">communication with smart solutions, improving the productivity and efficiency of</span> <br /> 
<span data-i18n="heroDescription3">projects.</span>
      </p>
    </div>

    <button type="button" class="hero__button" data-i18n="Subscription">Subscription</button>
  </div>
</section>
