<div class="mobile-menu mobile-menu__is-hidden" data-mobile>
  <div class="mobile-menu__container">
    <div class="mobile-menu__header">
      <a href="/" data-mobile-close
        ><img
          src="./img/logo.svg"
          alt="logo"
          width="119"
          height="36"
          loading="lazy"
      /></a>
      <button
        type="button"
        class="mobile-menu__btn-close"
        data-mobile-close
        aria-label="close mobile menu"
      >
        <svg width="24" height="24">
          <use href="./img/sprite.svg#close" />
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-menu__nav-list">
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#followers" data-i18n="Followers">Followers</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
           <a href="#booster" data-i18n="Boosters">Boosters</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#catalysts" data-i18n="Catalysts">Catalysts</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
         <a href="#admins" data-i18n="Admins">Admins</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#course" data-i18n="Course">Course</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
           <a href="#blog" data-i18n="Cases">Cases</a>
        </li>
         <li class="mobile-menu__nav-item" data-mobile-close>
           <a href="#blog" data-i18n="Rates">Rates</a>
        </li>
         <li class="mobile-menu__nav-item" data-mobile-close>
         <a href="#community" data-i18n="Community">Community</a>
        </li>
      </ul>
    </nav>

    <button type="button" data-i18n="Subscription" class="mobile-menu__btn" data-mobile-close>
      Subscription
    </button>
  </div>
</div>
<div
  class="mobile-menu__backdrop mobile-menu__is-hidden"
  data-mobile-backdrop
></div>
